.illustration {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 30px;
    width: 230px;
    height: 80px;
}
.illustration h2{
  text-align: center;
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 10px;
  color: #fff;
}
.illustration p{
    position: relative;
  　text-align: center;
    padding-top: 2px;
    font-size: 14px;
    color: rgb(125, 125, 125);
}
.s3-main {
    width: 1160px;
    margin: auto;
}
.s3-main .s3-pic1 {
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    position: relative;
    width: 240px;
    height: 240px;
    background-color: #fff;
    overflow: hidden;
}
.s3-main .s3-pic2 {
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    position: relative;
    width: 240px;
    height: 360px;
    background-color: #fff;
    overflow: hidden;
}
.s3-main li img {
    width: 100%;
    height: 100%;
}
.s3-main li .box {
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0,.5);
/*    color: rgb(186,86,211);*/
    color: #fff;
}
.s3-main li .box p {
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    margin-top: 10px;
}